/* ====================================
   CSS setup ne rien modifier
   Editer plus bas
 * ==================================== */

body {
  margin: 0;
  padding: 0;
  border: 0;
}

.main-section {
  min-height: 100vh
}

.colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-self: center;
}

div {
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

.colors>div:nth-of-type(5n+1) {
  background-color: #1abc8b;
}

div:nth-of-type(5n+2) {
  background-color: #3498db;
}

div:nth-of-type(5n+3) {
  background-color: #9b59b6;
}

div:nth-of-type(5n+4) {
  background-color: #e67e22;
}

div:nth-of-type(5n) {
  background-color: #e74c3c;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3em;
  height: auto;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 50%;
  font-size: 48px;
  line-height: 3em;
  text-align: center;
}

@media screen and (max-width:1024px) {
  .colors>div {
    flex-basis: 45%;
  }
}

@media screen and (max-width:600px) {
  .colors {
    flex-direction: column;
  }
}

/* ==================================== 
   Editer à partir d'ici
 * ==================================== */